main {
    background-color: #333;
    color: #fff;
    display: grid;
    justify-items: center;
    grid-gap: .5rem;
}

img {
    border-radius: 6px;
    box-shadow: inset 4px 4px 10px rgba(255, 255, 255, .4);
    filter:blur(0);
}

img[data-src]{
    filter:blur(3px);
}