
@media only screen and (min-width: 60em) {
  header {
    grid-template-columns: auto auto auto;
  }

  .main-menu ul li {
    border-bottom: none;
    border-left: 2px solid #226cb1;
  }

  .main-menu ul li:last-child {
    border-right: 2px solid #226cb1;
  }

  .main-menu {
    grid-column: 2;
    grid-row: 1;
  }
  .social-bar {
    grid-column: 3;
  }

  .main-menu ul li:first-child {
    display: none;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .home-main {
    grid-template-columns: 25% auto 25%;
  }

  .discover-blocks{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero{
    grid-column: 2;
    grid-row: 1/3;
  }

  .news{
    grid-column: 2;
  }

  .spotlights{
    grid-column: 3;
    grid-row: 1/4;
    display: grid;
  }

  .join{
    grid-column: 1;
    grid-row: 3;
  }

  .event{
    grid-column: 1;
    grid-row: 1;
  }

  .weather{
    grid-column: 1;
    grid-row: 2;
  }

  .active {
    color: #ddd;
  }


}
