@media only screen and (min-width: 32.5em) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header-logo {
    width: 150px;
  }

  .social-bar {
    display: flex;
  }

  .title h1 {
    font-size: 2rem;
  }

  .title p {
    font-size: 1rem;
  }

  .time-stamp {
    grid-column: 1/4;
  }

  .time-stamp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .time-el {
    padding: .5rem;
  }

  .time-el:nth-child(n+2)::before{
    content: "| ";
  }

  .hero{
    grid-column: 1/3;
  }

  .news{
    grid-column: 1/3;
  }

  .spotlights{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
  }

  .join{
    grid-column: 1/3;
    grid-row: 4;
  }

  .event{
    grid-column: 1/2;
    grid-row: 5;
  }

  .weather{
    grid-column: 2/3;
    grid-row: 5;
  }

  .discover-blocks {
    grid-template-columns: 1fr 1fr;
  }

  .discover-blocks .block:hover,
  .grid .card:hover {

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  }
  
  .discover-blocks picture img{
    width: 100%;
    transform: scale(1.3);
  
  }
  .discover-blocks picture img:hover {
    transform: scale(1);
    height: auto;
    transition: .3s ease-in-out;
  }
  .logo{
    margin: 1rem 0 0 1rem;
  }
  
  .medal {
    margin: 1.2rem;
    transform: scale(1.2);
  }


}

