:root {
  --dark-blue: #226cb1;
  --light-blue: #1d9cd3;
  --orange: #ea6e10;
}

body {
  font-family: "Montserrat Alternates", Arial, sans-serif;
  line-height: 1.75rem;
}

header,
footer {
  display: grid;
  background-color: var(--dark-blue);
  color: #fff;
  text-align: center;
}

header {
  align-items: center;
  grid-template-columns: auto auto auto 42px;
  position: relative;
}

main {
  display: grid;
  grid-gap: .5rem;
  background-color: var(--light-blue);
  padding: 1rem;
}

.title {
  padding: 0.5rem;
}
.title h1 {
  font-size: 16px;
}

.title p {
  font-size: 14px;
}

.logo {
  display: flex;
}
header,
main,
.header-logo-container {
  border: 1px solid var(--dark-blue);
}

footer {
  padding: 1rem;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  width: 100px;
}

.social-bar {
  display: grid;
  justify-self: right;
}
.social-icon {
  width: 24px;
  padding: 0.25rem;
}
/* Navigation */

.navigation a.ham::after {
  content: "\2630";
}

.main-menu {
  margin: 0;
  background-color: var(--light-blue);
  grid-column: 1/5;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  display: none;
  border-bottom: 2px solid var(--dark-blue);
}

.navigation li:last-child {
  border-right: 2px solid var(--dark-blue);
}

.navigation li a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  transition: 0.5s;
}

.main-menu a:hover {
  background-color: var(--orange);
  color: #fff;
}

.navigation li.active a {
  background-color: var(--orange);
}

.responsive li {
  display: block;
}

.responsive a.ham::after {
  content: "X";
}

.menu-font {
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.navigation li:first-child {
  display: block;
  text-align: right;
  background-color: var(--dark-blue);
  position: absolute;
  top: 0px;
  right: 0;
}

.home-block {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
}

.date {
  grid-column: 1/5;
}

.dark-blue-tab {
  background-color: var(--dark-blue);
}

.light-blue-tab {
  background-color: var(--light-blue);
}

.orange-tab {
  background-color: var(--orange);
}

.banner {
  background-color: var(--orange);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
  padding: .75rem;
}

.hero img {
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.hero {
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.hero h2 {
  position: absolute;
  width: 100%;
  top: 2rem;
  color: #fff;
}