@media only screen and (min-width: 32.5em) {
  .main-menu ul {
    display: flex;
    justify-content: center;
  }

  .main-menu ul li {
    border-bottom: none;
    border-left: 2px solid #fff;
  }

  .main-menu ul li:last-child {
    border-right: 2px solid #fff;
  }

  .persona-group{
    grid-template-columns: 1fr 1fr;
  }

  .color-body {
    grid-column: 2;
    padding: 1rem;
  }
}
