html {
  font-family: "Ubuntu", sans-serif;
  background: radial-gradient(#666, #aaa);
}
main {
  display: grid;
  padding: 2rem;
  border-radius: 8px;
  justify-content: center;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
}


td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

tr:first-child {
  background-color: #00a3a3;
}

tbody tr:nth-child(even) td {
  background-color: #7fffd4;
}

tbody tr:nth-child(odd) td {
  background-color: #00f0f0;
}


tfoot {
  background-color: #008a8a;
}

caption {
  padding: 10px;
}
caption, tfoot tr:last-child {
  background-color: #008a8a;
  color: #fff;
}
