@media only screen and (min-width: 60em) {
  header {
    grid-template-columns: minmax(200px, auto) auto minmax(100px, auto);
  }
 

  .home-main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: .5rem;
  }

  .weather {
    grid-column: 1;
  }

  .spotlight {
    grid-column: 1;
  }

  .slide-show {
    grid-column: 2;
    grid-row: 1/3;
  }

  .temple-cards{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }


  

}
