:root {
  --light-teal: #cad8d8;
  --teal: #607b80;
  --off-white: #fffbfb;
  --purple: #9f6067;
  --dark-teal: #18454b;
}

body {
  font-family: "Libre Baskerville", Arial, sans-serif;
  background-color: var(--light-teal);
  line-height: 1.75rem;
}

header,
footer {
  background-color: var(--purple);
  color: #fff;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(100px, auto) auto;
  align-items: center;
}

header,
main {
  border: 1px solid var(--purple);
}

main {
  display: grid;
  padding: 1rem;
  grid-gap: 0.5rem;
  background-color: var(--off-white);
  color: var(--dark-teal);
}

h1,
h2 {
  font-family: "Cookie", cursive, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
}

.slides picture img,
.temple-card img {
  width: 100%;
}

footer {
  padding: 1rem;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: grid;
  background-color: var(--purple);
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: left;
}

.header-logo {
  width: 100px;
}

.social-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.nav-ham::after {
  font-size: 2.5rem;
  content: "\2630";
}

.responsive {
  display: block;
}

.responsive ul {
  position: absolute;
  display: grid;
  right: 0;
}

.site-map {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Temple Cards */

.temple-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.temple-card {
  display: grid;
  position: relative;
  border: solid 2px var(--teal);
}

.temple-card image {
  width: 100%;
}

.temple-card-body {
  padding: 0.5rem;
}

.temple-like {
  display: grid;
  width: 48px;
  height: 48px;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: white;
  background-color: red;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.temple-like:hover {
  transform: scale(1.2);
  transition: ease-out 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/* Weather */

.weather {
  width: auto;
}

.weather-sky {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--dark-teal);
  color: #fff;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
}

.weather-sky span {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.weather-img {
  grid-row: 1/4;
}

.weather-forecast {
  display: flex;
  grid-gap: 0.25rem;
  background-color: var(--dark-teal);
  color: #fff;
  justify-content: center;
  padding: 0.5rem;
}

.weather-daily {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--teal);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  grid-gap: 0.5rem;
  justify-content: center;
}

.weather-daily img {
  width: 32px;
  height: fit-content;
}

.weather-alert {
  background-color: var(--dark-teal);
  display: flex;
  color: #fff;
  justify-content: center;
}

.weather-alert p {
  margin-right: 0.5rem;
}

/* Spotlight */
.spotlight img {
  width: 100%;
}

/* Forms */
button {
  background-color: var(--teal);
  color: var(--off-white);
  border: solid 1px var(--off-white);
}

button:hover {
  background-color: var(--light-teal);
  color: var(--dark-teal);
  border: solid 1px var(--dark-teal);
}

input,
textarea,
button,
select {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: 2px solid var(--teal);
}

label,
input {
  display: flex;
  flex-direction: column;
}

/* New Nav */


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple);
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-map {
  list-style-type: none;
}

.site-map li a {
  color: #fff;
}

.site-map li a:hover{
  font-weight: bold;
}

.menu > li {
  margin: 0 1rem;
}

.menu li a, .site-map li a {
  display: block;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  text-decoration: none;
}

.menu a:hover {
  border-radius: 16px;
  background-color: var(--light-teal);
  color: var(--dark-teal);
}

.menu-font {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

legend {
  background-color: var(--light-teal);
  padding: 0.25rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}

.slides {
  transition: ease-in 2s;
}

.slide-show {
  position: relative;
}

.book {
  background-color: #607b80;
  color: #cad8d8;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

/* Untilty Classes */

.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.heart:hover {
  transform: scale(1.2);
  transition: ease-out 0.5s;
}

.heart {
  fill: gainsboro;
  position: absolute;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
}

.temple-liked {
  fill: red;
  transform: scale(1.2);
}
