:root {
  --light-teal: #cad8d8;
  --teal: #607b80;
  --off-white: #fffbfb;
  --purple: #9f6067;
  --dark-teal: #18454b;
}

body {
  font-family: "Libre Baskerville", Arial, sans-serif;
  background-color: var(--light-teal);
  line-height: 1.75rem;
}


header,
footer {display: grid;
  background-color: var(--purple);
  color: #fff;
  text-align: center;
}

header {
  
  grid-template-columns: minmax(200px, auto) minmax(100px, auto) auto;
  align-items: center;
}

header,
main {
  border: 1px solid var(--purple);
}

main {
  display: grid;
  padding: 1rem;
  grid-gap: 0.5rem;
  background-color: var(--off-white);
  color: var(--dark-teal);
}

h1,
h2 {
  font-family: "Cookie", cursive, sans-serif;
  font-weight: 400;
  margin: .5rem;
}
h1 {
  font-size: 3rem;
  line-height: 3rem;
}
h2 {
  font-size: 2.2rem;
}

footer {
  padding: 1rem;
}

/* Header, Footer, All page Classes */

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: grid;
  background-color: var(--purple);
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: left;
}

.header-logo {
  width: 100px;
}

.social-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}


.site-map {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.site-map {
  list-style-type: none;
}

.site-map li a {
  color: #fff;
}

.site-map li a:hover{
  font-weight: bold;
}


/* Temple Cards */

.temple-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.temple-card {
  display: grid;
  position: relative;
}

.temple-card image {
  width: 100%;
}

.temple-card-body {
  padding: 0.5rem;
}

.heart:hover {
  transition: ease-out 0.5s;
  transform: scale(1.2);
}

.heart {
  fill: gainsboro;
  position: absolute;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
}

.temple-liked {
  fill: red;

}

.temple-unlike {
  fill: gainsboro;
}


/* Weather */

.weather {
  width: auto;
}

.weather-sky {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--dark-teal);
  color: #fff;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
}

.weather-sky span {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.weather-img {
  grid-row: 1/4;
}

.weather-forecast {
  display: flex;
  grid-gap: 0.25rem;
  background-color: var(--dark-teal);
  color: #fff;
  justify-content: center;
  padding: 0.5rem;
}

.weather-daily {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--teal);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  grid-gap: 0.5rem;
  justify-content: center;
}

.weather-daily img {
  width: 32px;
  height: fit-content;
}

.weather-alert {
  background-color: var(--dark-teal);
  display: flex;
  color: #fff;
  justify-content: center;
}

.weather-alert p {
  margin-right: 0.5rem;
}

/* Forms */
button,legend {
  background-color: var(--teal);
  color: var(--off-white);
}
button{
  cursor: pointer;
}
legend {
  padding: 0.25rem 1rem;
  font-weight: bold;
}

input,
textarea,
button,
select {
  padding: 0.5rem 1rem .5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  border: 2px inset solid var(--teal);
}

label,
input {
  display: flex;
  flex-direction: column;
}

.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.res-form{
  display: grid;
  grid-gap: 0.5rem;
}

.res-button {
  float: right;
}

legend {
  background-color: var(--teal);
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}

/* New Nav */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple);
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 0 0 .5rem;
  padding: 0;
  width: 100%;
}

.menu > li {
  margin: 0 1rem;
}

.menu li a, .site-map li a {
  display: block;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  text-decoration: none;
}

.menu a:hover, button:hover {
  border-radius: 20px;
  background-color: var(--light-teal);
  color: var(--dark-teal);
  border: 1px solid var(--teal);
  font-weight: bold;
}

.menu-font {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid transparent;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--purple);
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Utility Classes */

.slides picture img,
.temple-card img,
.spotlight img {
  width: 100%;
}

.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.block {
  border: solid 1px var(--dark-teal);
  background-color: var(--light-teal);
}

.float-right {
  float: right;
  margin: 1rem;
}
.float-left {
  float: left;
  margin-right: 2rem;
}

.service-page{
  display: grid;
  grid-gap: .5rem;
}

.service-img {
  width: 60%
}
.slides {
  transition: ease-in 2s;
}

.slide-show {
  position: relative;
}

.book {
  background-color: #607b80;
  color: #cad8d8;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.clear-li {
  list-style: none;
}

header{
  z-index: 200;
}
.sub-menu{
  position: relative;
  z-index: 100;
}

.sub-menu ul{
  margin: 0;
  top: 100%;
  background-color: var(--teal);
  width: 100%;
  padding: 0.5rem;
}

li{
  display: block;
  transition-duration: .5s;
}
li:hover{
  cursor: pointer;
}
.sub-menu ul{

  position: absolute;
  width: 100%;
  transition: all .5s ease;
  left: 0;
  margin: 0;
  top: 100%;

}

.sub-menu:hover > ul,
.sub-menu:focus-within > ul,
.sub-menu ul:hover,
.sub-menu ul:focus{
  visibility: visible;
  opacity: 1;
  
}
.sub-menu ul li {
  clear: both;
  width: 100%;
}

.news-letter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label{
  text-align: left;
}

.arrow {
  border: solid var(--off-white);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.reception-main{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.room{
  display: grid;

}

.room section {
  padding: .5rem;
}

.room section p {
  padding-left: 1rem;
}

.room picture{
  width: 100%;
}
.room picture img{
  width: 100%;
}

/* HIDE RADIO */
.room-selection [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.room-selection [type=radio] + img {
  cursor: pointer;
  width: fit-content;
}

/* CHECKED STYLES */
.room-selection [type=radio]:checked + img {
  outline: 6px solid var(--dark-teal);
  outline: 2px solid #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.room-options{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
