:root {
  --dark-blue: #226cb1;
  --light-blue: #1d9cd3;
  --orange: #ea6e10;
}

body {
  font-family: "Montserrat Alternates", Arial, sans-serif;
  line-height: 1.75rem;
}

header,
footer {
  background-color: var(--dark-blue);
  color: #fff;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}

header,
main {
  border: 1px solid var(--dark-blue);
}

main {
  display: grid;
  padding: 1rem;
  background-color: #fff;
}

footer {
  padding: 1rem;
}

.page {
  max-width: 900px;
  margin: 0 auto;
}

.main-menu {
  background-color: var(--light-blue);
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu ul li {
  border-bottom: 2px solid var(--dark-blue);
}

.main-menu ul li:last-child {
  border-right: 2px solid var(--dark-blue);
}

.main-menu ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.main-menu a:hover {
  background-color: var(--orange);
  color: #fff;
}

.main-menu ul li.active a {
  background-color: var(--orange);
}

.color-tab {
  width: 200px;
  height: 100px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.dark-blue-tab {
  background-color: var(--dark-blue);
}

.light-blue-tab {
  background-color: var(--light-blue);
}

.orange-tab {
  background-color: var(--orange);
}
